<ion-content>
<img src="https://lh5.googleusercontent.com/p/AF1QipMnVZmfoKQ0G-dRRJ-uTRFoPBVszEWymBVQfpF3=w408-h306-k-no" alt="image">
<div style="margin: 1em;">

  <h2>Parque Urbano</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque debitis distinctio illum repellendus quo ut iste consectetur, molestias ab itaque veritatis ratione incidunt nostrum nemo aperiam eveniet maxime natus provident amet esse laborum deserunt rem quae? Hic aspernatur recusandae odio possimus aperiam facilis tempore molestiae cupiditate quam libero modi ullam tempora perferendis veniam quia maxime, iure distinctio mollitia ipsam expedita.</p>
  <h2>Reglas</h2>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias, magni.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate reprehenderit iste quisquam laudantium!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias, magni.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate reprehenderit iste quisquam laudantium!</p>

  <ion-item detail="true">
    <ion-label>
      <h3>Compartir</h3>
      <p>Comparte el grupo a tus amigos</p>
    </ion-label>
  </ion-item>
  <p>Lugar</p>
  <div style="border-radius: 1em;width:100%;height: 15em;background-color: red;">

  </div>
</div>


</ion-content>

<ion-footer>
  <ion-button expand="full" color="success">
    Unirse al grupo
  </ion-button>
</ion-footer>
