<ion-content>
  <div style="padding: 1em;margin-top: 3em;">


    <div *ngIf="activities.length == 0">
      <h2 class="text-center">Ya no tienes actividades pendientes</h2>
    </div>
    <div *ngIf="activities.length != 0">
      <h2 >Actividades pendientes</h2>

      <ion-item lines="none" *ngFor="let item of activities;let i = index;">
        <ion-label>
          <h2 class="bold">
            {{ item.date  |  localizedDate:'fullDate' }}
          </h2>
          <p>
            {{ item.time }} min
          </p>
         <p>
          {{ item.distance | distanceMeasure:measure  }} {{measure}}
         </p>
        </ion-label>
        <ion-button slot="end" color="danger" fill="outline" (click)="remove(i)">
          Descartar
        </ion-button>
        <ion-button slot="end" fill="outline" (click)="showAd(i,item)">
          Subir
        </ion-button>
      </ion-item>
    </div>
  </div>
</ion-content>
