<ion-content>
  <div style="background-color: #031e40;color:beige" >
    <div style="padding: 1em;">

      <img src="../../../assets/img/white-logo.png" alt="logo" style="margin-top:1.9em;width: 3.5em;height:3.5em;z-index: 10000;">
      <h1 style="font-weight: bold;">¡Felicidades, has terminado!</h1>
      <p>
       Corrida en {{welcome}} en {{ city }}
         <br>
        {{ today | date:'fullDate' }}
      </p>
      <h3>
        ¡Recorriste {{ distance | number : '.2-2' }}  KM!
      </h3>
    </div>
  </div>
  <ion-card *ngIf="offline" style="padding:1em;">
    <h2 style="color:orangered;"><ion-icon name="alert-circle-outline"></ion-icon> Estas desconectado</h2>
    <p>Tu proceso se guardará en tu telefono por unos dias, cuando tengas conexion a internet lo podras subir de nuevo en el apartado de actividades pendientes</p>
  </ion-card>

  <ion-card style="padding: 1em;">
    <h1>Datos</h1>
    <ion-row>
      <ion-col size="6">
        Distancia
      </ion-col>
      <ion-col size="6">
        {{distance  | number : '.2-2' }} KM
      </ion-col>
      <ion-col size="6">
        Tiempo
      </ion-col>
      <ion-col size="6">
        {{time}} min
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-row *ngIf="!photo">
    <ion-col size="6" offset="3">

      <ion-button expand="full" (click)="getPicture()" color="primary">
        <ion-icon name="camera-outline" slot="start"></ion-icon>
        Foto del recuerdo</ion-button>
      </ion-col>
    </ion-row>

    <div *ngIf="photo">

      <h2 class="text-center">Mi Recuerdo</h2>
      <ion-card >
        <img [src]="photo" alt="memories">
      </ion-card>
      <ion-row >
        <ion-col size="6" offset="3">
          <ion-button expand="full" (click)="getPicture()" color="primary">
            <ion-icon name="camera-outline" slot="start"></ion-icon>
            Volver a tomar</ion-button>
          </ion-col>
        </ion-row>

    </div>

  <ion-slides [options]="slide" >
    <ion-slide *ngFor="let item of [1,1]">
      <ion-card  style="padding: 1em;width: 100%;">
        <h4>Comportamiento de Radi</h4>
          <ion-chip [ngClass]="{'selected' : behavior == 1 }"  (click)="setBehavior(1)">😞</ion-chip>
          <ion-chip [ngClass]="{'selected' : behavior == 2 }"  (click)="setBehavior(2)">😡</ion-chip>
          <ion-chip [ngClass]="{'selected' : behavior == 3 }"  (click)="setBehavior(3)">😐</ion-chip>
          <ion-chip [ngClass]="{'selected' : behavior == 4 }"  (click)="setBehavior(4)">😊</ion-chip>

        <p>¿Hizo del baño?</p>
        <ion-row>
          <ion-col>
            <ion-chip [ngClass]="{'selected' : pooped == 1 }"  (click)="setPooped(1)">Si</ion-chip>
            <ion-chip [ngClass]="{'selected' : pooped == 2 }"  (click)="setPooped(2)">No</ion-chip>
          </ion-col>
        </ion-row>
        <p>¿Tomo agua?</p>
        <ion-row>
          <ion-col>
            <ion-chip [ngClass]="{'selected' : water == 1 }"  (click)="setWater(1)">Si</ion-chip>
            <ion-chip [ngClass]="{'selected' : water == 2 }"  (click)="setWater(2)">No</ion-chip>
          </ion-col>
        </ion-row>

      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer>
  <ion-button color="success" expand="full" (click)="showRewardVideo()">Siguiente</ion-button>
</ion-footer>
