
<ion-content>
  <ion-fab  vertical="top" horizontal="start"  slot="fixed" (click)="beforePage()">
    <ion-fab-button mode="ios" size="small" translucent    color="motel"  style="  outline: none !important;    ">
      <ion-icon name="arrow-back-outline" style="color:#f8d100;"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div  id="mapa-run" style="width: 100%;height: 29em;background-color: gainsboro;z-index: -1;">

  </div>
  <div style="margin-top:-6em;z-index:1000;">

    <ion-card style="padding:2em">
      <h2 style="text-align: center;padding: 1em;">{{activity.createdAt | date:'fullDate'}}</h2>
      <p>Distancia</p>
      <h2>{{ activity.distance }} km</h2>
      <p>Tiempo</p>
      <h2>{{ activity.time }} Min</h2>
      <p>Velocidad Promedio</p>
      <h2>2.43 km/h</h2>
      <p>Velocidad Maxima</p>
      <h2>6.43 km/h</h2>
    </ion-card>
    <ion-card style="padding: 1em;">
        <h2>Mascota</h2>
        <ion-row>
          <ion-col size="5">
            <img [src]="activity.pet_photo" style="border-radius: 1em;" alt="">
          </ion-col>
          <ion-col  size="7">
            <h2>{{activity.pet_name}}</h2>
            <p>{{activity.pet_size}}</p>
          </ion-col>
        </ion-row>
    </ion-card>
  </div>
</ion-content>
