
<ion-content>
  <ion-fab  vertical="top" horizontal="start"  slot="fixed" (click)="beforePage()">
    <ion-fab-button mode="ios" size="small" translucent    color="motel"  style="  outline: none !important;    ">
      <ion-icon name="arrow-back-outline" style="color:#f8d100;"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div   id="mapa-run" style="width: 100%;height: 29em;background-color: gainsboro;z-index: -1;">

  </div>
  <div style="margin-top:-6em;z-index:1000;">

    <ion-card style="padding:2em">
      <h1>Paseo en la mañana en Tlaquepaque</h1>
      <p>{{ activity.createdAt |  localizedDate:'fullDate' }}</p>

      <!-- <h2>{{activity.createdAt | localizedDate:'fullDate' }}</h2> -->
      <p style="margin-top: 3em;">Distancia</p>
      <h2>
        {{ activity.distance | distanceMeasure:measure  }} {{measure}}
      </h2>
      <p>Tiempo</p>
      <h2>{{ activity.time }} Min</h2>

    </ion-card>

    <!-- <ion-button expand="full" fill="clear">Compartir a  mis amigos</ion-button> -->
    <h2 style="text-align: center;padding: 1em;">Más información</h2>
    <ion-slides [options]="slide" pager="true" style="padding-bottom: 3em;">
      <ion-slide *ngFor="let pet of pets; let i = index">
        <ion-card >
          <img [src]="pet.pet_photo" alt="">
          <div style="padding:2em">


          <h3 class="capital">{{ pet.pet_name }}</h3>
          <p>Estado</p>
          <h2 *ngIf="pet.behavior == 0">No se registro</h2>
          <h2 *ngIf="pet.behavior == 1">Enojado</h2>
          <h2 *ngIf="pet.behavior == 2">normal</h2>
          <h2 *ngIf="pet.behavior == 3">Feliz</h2>
          <h2 *ngIf="pet.behavior == 4">Triste</h2>
          <p>¿Tomo agua?</p>
          <h2 *ngIf="pet.water == 0">No</h2>
          <h2 *ngIf="pet.water == 1">Si</h2>
          <p>¿Hizo sus necesidades?</p>
          <h2 *ngIf="pet.popped == 0">No</h2>
          <h2 *ngIf="pet.popped == 1">Si</h2>
          <h2 style="text-align: center;padding: 1em;">Recuerdo</h2>

          <div *ngIf="pet.photo">
            <img [src]="pet.photo" style="width: 100%;border-radius: 1em;" alt="pet photo">
          </div>

          <div *ngIf="!pet.photo">
            <div *ngIf="premium">
              <p>No hay momento,guarda tu recuerdo de esa salida con tu mascota.</p>
              <ion-button fill="clear" expand="block" >Subir foto</ion-button>
            </div>
            <div *ngIf="!premium">
              <p>No hay momento, para guardar el momento recuerda necesitas Radi Pets Premium.</p>
              <ion-button fill="clear" expand="block" (click)="goToPage('/subscription')">Subscribirse</ion-button>
            </div>
          </div>
        </div>
        </ion-card>
      </ion-slide>
    </ion-slides>


  </div>
</ion-content>
