
<ion-content>
  <ion-fab  vertical="top" horizontal="start"  slot="fixed" (click)="beforePage()">
    <ion-fab-button mode="ios" size="small" translucent    color="motel"  style="  outline: none !important;    ">
      <ion-icon name="arrow-back-outline" style="color:#f8d100;"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div   id="mapa-run" style="width: 100%;height: 29em;background-color: gainsboro;z-index: -1;">
  </div>

  <div style="margin-top:-6em;z-index:1000;">

    <ion-card style="padding:2em">
      <h1>{{ 'runshow.walkin' | translate }} {{welcome}} {{activity.city}}</h1>
      <p class="capital">{{ activity.createdAt |  localizedDate:'fullDate' }}</p>

      <p style="margin-top: 3em;">{{ 'runshow.distance' | translate }} </p>
      <h2>
        {{ activity.distance | distanceMeasure:measure  }} {{measure}}
      </h2>
      <p>{{ 'runshow.time' | translate }} </p>
      <h2>{{ activity.time }} {{ 'runshow.min' | translate }}</h2>

    </ion-card>

    <!-- <ion-button expand="full" fill="clear">Compartir a  mis amigos</ion-button> -->
    <h2 style="text-align: center;padding: 1em;">{{ 'runshow.moreinfo' | translate }} </h2>
    <ion-slides [options]="slide" pager="true" style="padding-bottom: 3em;">
      <ion-slide *ngFor="let pet of pets; let i = index">
        <ion-card >
          <img [src]="pet.pet_photo" alt="">
          <div style="padding:2em">


          <h3 class="capital">{{ pet.pet_name }}</h3>
          <p>{{ 'runshow.behavior' | translate }} </p>
          <h2 *ngIf="pet.behavior == 0">{{ 'runshow.nobehavior' | translate }}</h2>
          <h2 *ngIf="pet.behavior == 1">{{ 'runshow.sad' | translate }} </h2>
          <h2 *ngIf="pet.behavior == 2">{{ 'runshow.angry' | translate }}</h2>
          <h2 *ngIf="pet.behavior == 3">{{ 'runshow.normal' | translate }}</h2>
          <h2 *ngIf="pet.behavior == 4">{{ 'runshow.happy' | translate }}</h2>
          <p>{{ 'runshow.water' | translate }}</p>
          <h2 *ngIf="pet.water == 0">{{ 'runshow.no' | translate }}</h2>
          <h2 *ngIf="pet.water == 1">{{ 'runshow.yes' | translate }}</h2>
          <p>{{ 'runshow.pooped' | translate }}</p>
          <h2 *ngIf="pet.popped == 0">{{ 'runshow.no' | translate }}</h2>
          <h2 *ngIf="pet.popped == 1">{{ 'runshow.yes' | translate }}</h2>
          <h2 style="text-align: center;padding: 1em;">{{ 'runshow.memory' | translate }}</h2>

          <div *ngIf="pet.photo">
            <img [src]="pet.photo" style="width: 100%;border-radius: 1em;" alt="pet photo">
          </div>

          <div *ngIf="!pet.photo">
            <div *ngIf="premium">
              <p>{{ 'runshow.premium' | translate }</p>
              <!-- <ion-button fill="clear" expand="block" >Subir foto</ion-button> -->
            </div>
            <div *ngIf="!premium">
              <p>{{ 'runshow.free' | translate }}</p>
              <ion-button fill="clear" expand="block" (click)="goToPage('/subscription')">{{ 'runshow.subscribe' | translate }}</ion-button>
            </div>
          </div>
        </div>
        </ion-card>
      </ion-slide>
    </ion-slides>


  </div>
</ion-content>
