<ion-content>

  <ion-fab  vertical="top" horizontal="start"  slot="fixed" (click)="beforePage()">
    <ion-fab-button mode="ios" size="small" translucent    color="motel"  style="  outline: none !important;    ">
      <ion-icon name="arrow-back-outline" style="color:#f8d100;"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div style="padding: 1em;">

    <div style="margin-left:.5em;">
      <h1 style="margin-top: 3em;font-size: 2em;font-weight: bold;">{{user.name}}</h1>

      <ion-chip color="success" *ngIf="user.subscription">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <ion-label>Premium</ion-label>
      </ion-chip>
    </div>

    <ion-row>
      <ion-col size="6" style="margin-left: 1em;">
        <h3  *ngIf="!age || !user.city" style="color: rgb(89, 92, 94);">Sin infomación de su ciudad y edad.</h3>
        <h5  *ngIf="user.city">Vive en {{user.city}}</h5>
        <h3  *ngIf="age" style="color: rgb(89, 92, 94);">{{ age }} años</h3>
      </ion-col>
      <ion-col size="4">
        <img style="border-radius: 50%;" [src]="user.photo" alt="user image">
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>

    <div *ngIf="user_id != user.id">
        <ion-button color="success" style="margin-top:1em;" expand="full" (click)="follow()" *ngIf="follower == 0" ><ion-icon name="person-add-outline"></ion-icon>  Seguir</ion-button>
        <ion-button color="success" style="margin-top:1em;" expand="full" (click)="deleteRequest()" *ngIf="follower == 1"> Pendiente</ion-button>

      <div *ngIf="follower == 2">
        <ion-button color="success" style="margin-top:1em;" expand="full" (click)="unfollow()">
          <ion-icon name="people"></ion-icon>
           Amigos
        </ion-button>
      </div>
    </div>


    <div *ngIf="follower == 2">
      <h5  *ngIf="social_media.whatsapp" (click)="contact('wa',social_media.whatsapp)"><ion-icon name="logo-whatsapp"> </ion-icon> Mandar mensaje</h5>
      <h5 *ngIf="social_media.instagram" (click)="contact('ig',social_media.instagram)"><ion-icon name="logo-instagram" > </ion-icon> Ver Perfil</h5>
      <h5 *ngIf="social_media.facebook" (click)="contact('fb',social_media.facebook)"><ion-icon name="logo-facebook" > </ion-icon> Ver Perfil</h5>

    </div>

    <ion-item-divider mode="md"> </ion-item-divider>

    <div style="padding: 1em;">

      <h2>Acerca de mi</h2>
      <p *ngIf="!user.description" style="color: rgb(153, 153, 153);">No ha agregado una descripción a su perfil.</p>
      <p *ngIf="user.description">{{ user.description }}</p>
      <ion-chip color="success" *ngIf="user.donation_destination">
        <ion-icon name="heart"></ion-icon>
        <ion-label>{{user.donation_destination}}</ion-label>
      </ion-chip>
      <!-- <p>Soy programador y me encantan las mascotas, soy el Fundador de Radi pets la app que estas usando.  </p> -->

    <h2 style="font-weight: bold;margin:2em 0em;">Diferencias</h2>
      <div class="my_distance">
        <ion-row>
          <ion-col size="4" offset="2">
            <img style="border-radius: 50%;border: 3px solid green;" [src]="photo"  alt="">
            <p style="text-align: center;font-weight: bold;">Tú</p>
          </ion-col>
          <ion-col  size="4">
            <img style="border-radius: 50%;border: 3px solid blue;"  [src]="user.photo" alt="">
            <p style="text-align: center;font-weight: bold;">{{short_name}}</p>
          </ion-col>
        </ion-row>
        <p>Tú</p>
        <p>
          {{ my_distance | distanceMeasure:measure  }} {{measure}}
        </p>
        <ion-progress-bar [value]="me_bar" color="success"></ion-progress-bar> <br>
        <p>{{short_name}}</p>
        <p>
          {{ total_km | distanceMeasure:measure  }} {{measure}}</p>
        <ion-progress-bar [value]="you_bar" color="primary"></ion-progress-bar>

        <p *ngIf="measure == 'km'">* Comparación de Km en los ultimos 30 dias</p>
        <p *ngIf="measure == 'mi'">* Comparación de las millas en los ultimos 30 dias</p>

        <ion-card style="padding: 1em;">
          <h6>Tiempo Total</h6>
          <h2>{{ total_time }} </h2>
          <h6>Distancia Total</h6>
          <h2>
            {{ total_km | distanceMeasure:measure  }} {{measure}}</h2>
        </ion-card>
      </div>

    <h2 style="font-weight: bold;margin:2em 0em;">Últimas Actividades</h2>

      <div *ngIf="show_activities">
        <div *ngIf="activities.length != 0">
          <div *ngFor="let activity of activities;let i = index;">
            <ion-row (click)="goToRun(activity.id)" *ngIf="6 > i">
              <ion-col size="8">
                <img style="border-radius:1em;" src="https://media.istockphoto.com/id/1137117479/vector/city-urban-streets-roads-abstract-map.jpg?s=612x612&w=0&k=20&c=QXajx6ZG-OmfLmwmKkeCA03rcFPuFHmSTtCpJYiDFSo=" alt="image">
              </ion-col>
            <ion-col size="4">
              <small>Distancia</small>
              <p><b>
                {{ activity.distance | distanceMeasure:measure  }} {{measure}}
              </b></p>
              <small>Tiempo</small>
              <p><b>{{activity.time}}</b></p>
            </ion-col>
          </ion-row>
          </div>
        </div>
        <div *ngIf="activities.length == 0">
          <p class="text-center">No tiene actividades</p>
        </div>
      </div>
      <div *ngIf="!show_activities">
        <p class="text-center">El usuario tiene las actividades privadas.</p>
      </div>

      <h2 style="font-weight: bold;margin:2em 0em;">Reconocimientos</h2>

        <div *ngIf="show_rewards">
          <p style="text-align: center;">Por el momento {{short_name}} no tiene Reconocimientos</p>
        </div>
        <div *ngIf="!show_rewards">
          <p class="text-center">El usuario tiene los reconocimientos privados.</p>
        </div>

        <h2 style="font-weight: bold;margin:2em 0em;">Mascotas</h2>

        <div *ngIf="show_pets">
          Ver mascotas
        </div>

        <div *ngIf="!show_pets">
          <p class="text-center">El usuario tiene a sus mascotas como privadas.</p>

        </div>

      </div>
  </div>

</ion-content>
