<ion-content>

  <ion-fab  vertical="top" horizontal="start"  slot="fixed" (click)="beforePage()">
    <ion-fab-button mode="ios" size="small" translucent    color="motel"  style="  outline: none !important;    ">
      <ion-icon name="arrow-back-outline" style="color:#f8d100;"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div style="padding: 1em;">

  <div style="margin-left:.5em;">
    <h1 style="margin-top: 3em;font-size: 2em;font-weight: bold;">Luis Rojas</h1>

    <ion-chip color="success">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <ion-label>Premium </ion-label>
    </ion-chip>
  </div>

    <ion-row>
      <ion-col size="6" style="margin-left: 1em;">
        <h5>Vive en San Pedro Tlaquepaque</h5>
        <h3 style="color: rgb(89, 92, 94);">24 años</h3>
      </ion-col>
      <ion-col size="4">
        <img style="border-radius: 50%;" src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHw%3D&w=1000&q=80" alt="">
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
    <ion-item-divider mode="md"> </ion-item-divider>
    <div style="padding: 1em;">

      <h2>Acerca de mi</h2>
      <p>Soy programador y me encantan las mascotas, soy el Fundador de Radi pets la app que estas usando.  </p>

      <h2 style="font-weight: bold;margin:2em 0em;">Diferencias</h2>
<ion-row>
  <ion-col size="4" offset="2">
    <img style="border-radius: 50%;border: 3px solid green;" src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHw%3D&w=1000&q=80" alt="">
    <p style="text-align: center;font-weight: bold;">Tu</p>
  </ion-col>
  <ion-col  size="4">
    <img style="border-radius: 50%;border: 3px solid blue;" src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHw%3D&w=1000&q=80" alt="">
    <p style="text-align: center;font-weight: bold;">Rogelio</p>
  </ion-col>
</ion-row>

<p>Tu</p>
<ion-progress-bar value=".40" color="success"></ion-progress-bar> <br>
<p>Rogelio</p>
<ion-progress-bar value=".60" color="primary"></ion-progress-bar>

<p>*Comparación de km en el ultimos 30 dias</p>

      <h2 style="font-weight: bold;margin:2em 0em;">Ultimas Actividades</h2>
      <ion-row>
        <ion-col size="8">
          <img style="border-radius:1em;" src="https://media.istockphoto.com/id/1137117479/vector/city-urban-streets-roads-abstract-map.jpg?s=612x612&w=0&k=20&c=QXajx6ZG-OmfLmwmKkeCA03rcFPuFHmSTtCpJYiDFSo=" alt="image">
        </ion-col>
        <ion-col size="4">
          <small>Distancia</small>
          <p><b> 11.35 KM</b></p>
          <small>Tiempo</small>
          <p><b>32:13</b></p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="8">
          <img style="border-radius:1em;" src="https://media.istockphoto.com/id/1137117479/vector/city-urban-streets-roads-abstract-map.jpg?s=612x612&w=0&k=20&c=QXajx6ZG-OmfLmwmKkeCA03rcFPuFHmSTtCpJYiDFSo=" alt="image">
        </ion-col>
        <ion-col size="4">
          <small>Distancia</small>
          <p><b> 11.35 KM</b></p>
          <small>Tiempo</small>
          <p><b>32:13</b></p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="8">
          <img style="border-radius:1em;" src="https://media.istockphoto.com/id/1137117479/vector/city-urban-streets-roads-abstract-map.jpg?s=612x612&w=0&k=20&c=QXajx6ZG-OmfLmwmKkeCA03rcFPuFHmSTtCpJYiDFSo=" alt="image">
        </ion-col>
        <ion-col size="4">
          <small>Distancia</small>
          <p><b> 11.35 KM</b></p>
          <small>Tiempo</small>
          <p><b>32:13</b></p>
        </ion-col>
      </ion-row>

      <h2 style="font-weight: bold;margin:2em 0em;">Reconocimientos</h2>
        <p style="text-align: center;">Por el momento Luis no tiene Reconocimientos</p>

    </div>
  </div>

</ion-content>
