<ion-content>

  <ion-fab  vertical="top" horizontal="start"  slot="fixed" (click)="beforePage()">
    <ion-fab-button mode="ios" size="small" translucent    color="motel"  style="  outline: none !important;    ">
      <ion-icon name="arrow-back-outline" style="color:#f8d100;"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div style="padding: 1em;">

  <div style="margin-left:.5em;">
    <h1 style="margin-top: 3em;font-size: 2em;font-weight: bold;">{{user.name}}</h1>

    <ion-chip color="success" *ngIf="user.subscription">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <ion-label>Premium</ion-label>
    </ion-chip>
  </div>

    <ion-row>
      <ion-col size="6" style="margin-left: 1em;">
        <h3  *ngIf="!age || !user.city" style="color: rgb(89, 92, 94);">Sin infomación de su ciudad y edad.</h3>
        <h5  *ngIf="user.city">Vive en {{user.city}}</h5>
        <h3  *ngIf="age" style="color: rgb(89, 92, 94);">{{ age }} años</h3>
      </ion-col>
      <ion-col size="4">
        <img style="border-radius: 50%;" [src]="user.photo" alt="user image">
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>

    <ion-button color="success" style="margin-top:1em;" expand="full">Salir a pasear</ion-button>

    <ion-item-divider mode="md"> </ion-item-divider>
    <div style="padding: 1em;">

      <h2>Acerca de mi</h2>
      <p *ngIf="!user.description" style="color: rgb(153, 153, 153);">No ha agregado una descripción a su perfil.</p>
      <p *ngIf="user.description">{{ user.description }}</p>
      <ion-chip color="success" *ngIf="user.subscription">
        <ion-icon name="heart"></ion-icon>
        <ion-label>Apoya a albergues</ion-label>
      </ion-chip>
      <!-- <p>Soy programador y me encantan las mascotas, soy el Fundador de Radi pets la app que estas usando.  </p> -->

      <h2 style="font-weight: bold;margin:2em 0em;">Diferencias</h2>
<ion-row>
  <ion-col size="4" offset="2">
    <img style="border-radius: 50%;border: 3px solid green;" [src]="photo"  alt="">
    <p style="text-align: center;font-weight: bold;">Tú</p>
  </ion-col>
  <ion-col  size="4">
    <img style="border-radius: 50%;border: 3px solid blue;"  [src]="user.photo" alt="">
    <p style="text-align: center;font-weight: bold;">{{short_name}}</p>
  </ion-col>
</ion-row>

<p>Tú</p>
<p>{{my_distance  | number : '.2-2'}} Km</p>
<ion-progress-bar [value]="me_bar" color="success"></ion-progress-bar> <br>
<p>{{short_name}}</p>
<p>{{total_km  | number : '.2-2'}} Km</p>
<ion-progress-bar [value]="you_bar" color="primary"></ion-progress-bar>

<p>* Comparación en los ultimos 30 dias</p>

<ion-card style="padding: 1em;">
  <h6>Tiempo Total</h6>
  <h2>{{ total_time }} </h2>
  <h6>Distancia Total</h6>
  <h2>{{ total_km  | number : '.2-2' }} KM</h2>
</ion-card>

      <h2 style="font-weight: bold;margin:2em 0em;">Ultimas Actividades</h2>

      <div *ngIf="!private">
        <div *ngIf="activities.length != 0">
          <div *ngFor="let activity of activities">
            <ion-row (click)="goToRun(activity.id)">
              <ion-col size="8">
                <img style="border-radius:1em;" src="https://media.istockphoto.com/id/1137117479/vector/city-urban-streets-roads-abstract-map.jpg?s=612x612&w=0&k=20&c=QXajx6ZG-OmfLmwmKkeCA03rcFPuFHmSTtCpJYiDFSo=" alt="image">
              </ion-col>
            <ion-col size="4">
              <small>Distancia</small>
              <p><b> {{activity.distance}} KM</b></p>
              <small>Tiempo</small>
              <p><b>{{activity.time}}</b></p>
            </ion-col>
          </ion-row>
          </div>
        </div>
        <div *ngIf="activities.length == 0">
          <p class="text-center">No tiene actividades</p>
        </div>
      </div>
      <div *ngIf="private">
        <p class="text-center">El usuario tiene las actividades privadas.</p>
      </div>


      <h2 style="font-weight: bold;margin:2em 0em;">Reconocimientos</h2>
        <p style="text-align: center;">Por el momento {{short_name}} no tiene Reconocimientos</p>
    </div>
  </div>

</ion-content>
