<ion-content [fullscreen]="true">
  <ion-header collapse="condense" style="margin-top: 4em;">
    <ion-toolbar>
      <ion-title size="large">Descubre</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="padding: 2em;">
    <h1>Actividad</h1>
    <h2>Ultimos registros</h2>

    <p>{{ act }}</p>
    <div *ngIf="activity.length == 0" class="text-center">
      <ion-card style="padding: 1em;">
        <h4>No tienes ninguna actividad.</h4>
        <p>Empieza a generar tu historial saliendo a pasear con tu mascota.</p>
        <ion-button fill="clear" expand="block" (click)="goToPage('tabs/tab1')">Empezar a correr  </ion-button>
      </ion-card>
    </div>

    <ion-slides  [options]="slide"  *ngIf="activity.length == 0">

      <ion-slide *ngFor="let item of activity" style="text-align: left;">
        <ion-card style="padding:2em;" (click)="goToPage('run-show')">
          <h3>20/12/2022 12:20 PM </h3>
          <h2>5.65 KM  &#x2022; 45:60 Min</h2>
        </ion-card>

      </ion-slide>
    </ion-slides>

    <ion-item-divider mode="md"> </ion-item-divider>


    <h1>Cerca de ti</h1>

    <h2>Mascotas desaparecidas</h2>

    <div *ngIf="lostPets.length == 0" class="text-center">
      <ion-card style="padding: 1em;">
        <h2>Afortunadamente, no hay mascotas desaparecidas</h2>
        <p>No hay mascotas desaparecidas cerca de tu ubicaciòn.</p>
      </ion-card>
    </div>

    <ion-slides  [options]="slidePets"  *ngIf="lostPets.length == 0" >
      <ion-slide  *ngFor="let item of lostPets" style="text-align: left;" (click)="goToPage('place')">
       <ion-card style="text-align: left;margin-left: 1.5em;border-radius: 1em;width: 100%;">
          <img  class="border-radius-img" src="https://i.ibb.co/zSM7JRJ/09615e6fd7dc.png" style="width:100%;object-fit: cover;min-height: 18em;max-height: 18em;height: 18em;">
          <div style="padding:1em;">
            <p style="font-weight: 800;" class="capitalize">Nombre <br>
              <span style="font-weight: 300;">2 Km</span> </p>
          </div>
        </ion-card>
      </ion-slide>
    </ion-slides>

    <h2>Lugares Pet Friendly cerca de ti</h2>

    <div *ngIf="petFriendly.length == 0" class="text-center">
      <ion-card style="padding: 1em;">
        <h2>No hay lugares pet friendly cerca de tu ubicacion</h2>
        <p>Pero no te preocupes, si conoces algun lugar puedes recomendarlo</p>
        <ion-button fill="clear" expand="block" >Recomendar lugar pet Friendly</ion-button>
      </ion-card>
    </div>

    <ion-slides  [options]="slidePets" *ngIf="petFriendly.length != 0">
      <ion-slide  *ngFor="let item of petFriendly" style="text-align: left;" (click)="goToPage('place')">
       <ion-card style="text-align: left;margin-left: 1.5em;border-radius: 1em;width: 100%;">
          <img  class="border-radius-img" src="https://i.ibb.co/F70nS9B/Whats-App-Image-2022-12-01-at-11-49-28-AM.jpg" style="width:100%;object-fit: cover;min-height: 18em;max-height: 18em;height: 18em;">
          <div style="padding:1em;">
            <p style="font-weight: 800;" class="capitalize">Petunia<br>
              <span style="font-weight: 300;">2 Km</span> </p>
          </div>
        </ion-card>
      </ion-slide>
    </ion-slides>

    <ion-item-divider mode="md"> </ion-item-divider>
    <h2>Sugerencias</h2>
  </div>
   
        <ion-card *ngFor="let blog of blogs" (click)="goToBlog(blog.slug)" >
          <img alt="blog image" [src]="blog.image" />
      <ion-card-header>
        <ion-card-subtitle>{{blog.date | date:'longDate'}}&#8226; {{blog.timeread}} Min </ion-card-subtitle>
        <ion-card-title>{{blog.title}}</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <p>{{ blog.subtitle }}</p>
        <p style="text-align: right;">Leer más</p>
      </ion-card-content>
    </ion-card>
     
 

  <img (click)="goToPage('subscription')"  src="../../assets/radi premium.png" alt="">

</ion-content>
