<ion-content [fullscreen]="true">

    <ion-row style="margin-top: 4em;">
      <ion-col size="10">
        <ion-title size="large" *ngIf="premium">Premium</ion-title>
        <ion-title size="large" *ngIf="!premium">Radi Runner</ion-title>
      </ion-col>

      <ion-col *ngIf="user_id" size="2" (click)="goToPage('/near-people')">
        <h3><ion-icon name="people"></ion-icon></h3>
      </ion-col>
      <!-- <ion-col size="2" (click)="goToPage('/groups')">
        <h3><ion-icon name="people"></ion-icon></h3>
      </ion-col> -->
    </ion-row>

  <div style="padding: 2em;">
    <h1>Actividad</h1>


  <!-- <ion-card style="padding: 1em;">
    <h1>Hoy</h1>
    <ion-row>
      <ion-col size="10" offset="1">
        <circle-progress
        [percent]="daily_percentage"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="false"
        [showSubtitle]=false
        [animationDuration]="300">

        </circle-progress>
      </ion-col>
    </ion-row>

    <div *ngIf="convertgoal">
      <ion-row>
        <ion-col size="8">
          <p>Meta de <b>{{convertgoal}} min</b></p>
        </ion-col>
        <ion-col size="4">
          <p style="text-align: right;" (click)="openModal()">Cambiar</p>
        </ion-col>
      </ion-row>
    </div>


    <div *ngIf="!convertgoal">
          <p style="text-align: center;color:orangered;">No tienes una meta</p>
          <p style="text-align: center !important;" (click)="openModal()">Establecer</p>
    </div>

  </ion-card> -->

    <ion-card style="padding:1em;">
      <h2>Este mes</h2>

      <div *ngIf="user_id">
      <span>Kilometros total</span>
        <p>{{total_km  | number : '.2-2' }} km</p>
        <span>Tiempo total</span>
        <p>{{total_time}}  Min</p>
      </div>
      <div *ngIf="!user_id">
        <h2>Necesitas ingresar para ver tus estadisticas</h2>
      </div>
    </ion-card>

    <img *ngIf="!premium" style="padding: -2em;" (click)="goToPage('subscription')"  src="../../assets/radi premium.png" alt="">


    <h2>Ultimos registros</h2>

    <!-- <div *ngFor="let act of acts">

      {{ act.user_id }}
      {{ act.created }}
    </div> -->

    <div *ngIf="user_id">
      <div *ngIf="activities.length == 0" class="text-center">
        <ion-card style="padding: 1em;">
          <h4>No tienes ninguna actividad.</h4>
          <p>Empieza a generar tu historial saliendo a pasear con tu mascota.</p>
          <ion-button fill="clear" expand="block" (click)="goToPage('tabs/tab1')">Empezar a correr  </ion-button>
        </ion-card>
      </div>

      <ion-slides  [options]="slide"  *ngIf="activities.length != 0">

        <ion-slide *ngFor="let item of activities" style="text-align: left;">
          <ion-card style="padding:2em;" (click)="goToRun(item.id)">
            <h3 style="font-weight: bold;">{{item.createdAt | date:'fullDate'}} </h3>
            <h5> {{item.distance}} KM  &#x2022; {{item.time}} Min</h5>
            <!-- <p style="font-weight: bold;">
              <img style="vertical-align:middle;border-radius: 50%;width: 2em;height: 2em;object-fit: cover;" [src]="item.pet_photo" alt="image">
              {{item.pet_name}}
            </p> -->
          </ion-card>

        </ion-slide>
      </ion-slides>
    </div>

    <div  *ngIf="!user_id">
      <ion-card style="padding:2em;">
        <h3 style="font-weight: bold;">Inicia sesión </h3>
        <h5> Para poder mostrarte tus actividades debes iniciar sesión</h5>
      </ion-card>
    </div>



    <!-- <h2>Challenges</h2>
    <ion-slides  [options]="slide" >
      <ion-slide  style="text-align: left;">
        <ion-card style="background-color:#f5f9fc;padding:2em;width: 100%;">
          <h2>Reto</h2>
          <h1 class="bold">5 km</h1>
          <ion-progress-bar value=".80"></ion-progress-bar>
        </ion-card>
      </ion-slide>
      <ion-slide  style="text-align: left;">
        <ion-card style="background-color:#f5f9fc;padding:2em;width: 100%;">
          <h2>Reto</h2>
          <h1  class="bold">10 km</h1>
          <ion-progress-bar value=".45"></ion-progress-bar>
        </ion-card>
      </ion-slide>
      <ion-slide  style="text-align: left;">
        <ion-card style="background-color:#f5f9fc;padding:2em;width: 100%;">
          <h2>Reto</h2>
          <h1  class="bold">15 km</h1>
          <ion-progress-bar value=".35"></ion-progress-bar>
        </ion-card>
      </ion-slide>
      <ion-slide  style="text-align: left;">
        <ion-card style="background-color:#f5f9fc;padding:2em;width: 100%;">
          <h2>Reto</h2>
          <h1  class="bold">20 km</h1>
          <ion-progress-bar value=".2"></ion-progress-bar>
        </ion-card>
      </ion-slide>
    </ion-slides> -->


    <ion-item-divider mode="md"> </ion-item-divider>


    <h1>Cerca de ti</h1>

    <h2>Mascotas desaparecidas</h2>

    <div *ngIf="lostPets.length == 0" class="text-center">
      <ion-card style="padding: 1em;">
        <h2>Afortunadamente, no hay mascotas desaparecidas</h2>
        <p>No hay mascotas desaparecidas cerca de tu ubicaciòn.</p>
      </ion-card>
    </div>

    <ion-slides  [options]="slidePets"  *ngIf="lostPets.length != 0" >
      <ion-slide  *ngFor="let item of lostPets" style="text-align: left;" (click)="goToPage('place')">
       <ion-card style="text-align: left;margin-left: 1.5em;border-radius: 1em;width: 100%;">
          <img  class="border-radius-img" src="https://i.ibb.co/zSM7JRJ/09615e6fd7dc.png" style="width:100%;object-fit: cover;min-height: 18em;max-height: 18em;height: 18em;">
          <div style="padding:1em;">
            <p style="font-weight: 800;" class="capitalize">Nombre <br>
              <span style="font-weight: 300;">2 Km</span> </p>
          </div>
        </ion-card>
      </ion-slide>
    </ion-slides>

    <h2>Lugares Pet Friendly</h2>

    <div *ngIf="places.length == 0" class="text-center">
      <ion-card style="padding: 1em;">
        <h2>No hay lugares pet friendly cerca de tu ubicacion</h2>
        <p>Pero no te preocupes, si conoces algun lugar puedes recomendarlo</p>
        <ion-button fill="clear" expand="block" (click)="goToPage('/register-place')" >Recomendar lugar</ion-button>
      </ion-card>
    </div>

    <ion-slides  [options]="slidePets" *ngIf="places.length != 0">
      <ion-slide  *ngFor="let place of places" style="text-align: left;" (click)="goToPage('place')">
       <ion-card style="text-align: left;margin-left: 1.5em;border-radius: 1em;width: 100%;">
          <img  class="border-radius-img" [src]="place.image" style="width:100%;object-fit: cover;min-height: 18em;max-height: 18em;height: 18em;">
          <div style="padding:1em;">
            <p style="font-weight: 800;" class="capitalize">{{place.title}}<br>
              <span style="font-weight: 300;">{{place.distance  | number : '.2-2' }} Km</span> </p>
          </div>
        </ion-card>
      </ion-slide>
    </ion-slides>

    <ion-item-divider mode="md"> </ion-item-divider>
    <h2>Sugerencias</h2>
  </div>

        <ion-card *ngFor="let blog of blogs" (click)="goToBlog(blog.slug)" >
          <img alt="blog image" [src]="blog.image" />
      <ion-card-header>
        <ion-card-subtitle>{{blog.date | date:'longDate'}}&#8226; {{blog.timeread}} Min </ion-card-subtitle>
        <ion-card-title>{{blog.title}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>{{ blog.subtitle }}</p>
        <p style="text-align: right;">Leer más</p>
      </ion-card-content>
    </ion-card>



  <img *ngIf="!premium" (click)="goToPage('subscription')"  src="../../assets/radi premium.png" alt="">

</ion-content>
