<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


    <ion-row style="margin-top: 6em;">
      <ion-col size="10">
        <ion-title size="large" *ngIf="premium">Premium</ion-title>
        <ion-title size="large" *ngIf="!premium">Radi Running</ion-title>
      </ion-col>

      <!-- <ion-col *ngIf="user_id" size="2" (click)="goToPage('/near-people')">
        <h3><ion-icon name="people"></ion-icon></h3>
      </ion-col> -->


      <!-- <ion-col size="2" (click)="goToPage('/groups')">
        <h3><ion-icon name="people"></ion-icon></h3>
      </ion-col> -->
    </ion-row>

  <div style="padding: 2em;">
    <h1>{{ 'home.activities' | translate }} </h1>


  <!-- <ion-card style="padding: 1em;">
    <h1>Hoy</h1>
    <ion-row>
      <ion-col size="10" offset="1">
        <circle-progress
        [percent]="daily_percentage"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="false"
        [showSubtitle]=false
        [animationDuration]="300">

        </circle-progress>
      </ion-col>
    </ion-row>

    <div *ngIf="convertgoal">
      <ion-row>
        <ion-col size="8">
          <p>Meta de <b>{{convertgoal}} min</b></p>
        </ion-col>
        <ion-col size="4">
          <p style="text-align: right;" (click)="openModal()">Cambiar</p>
        </ion-col>
      </ion-row>
    </div>


    <div *ngIf="!convertgoal">
          <p style="text-align: center;color:orangered;">No tienes una meta</p>
          <p style="text-align: center !important;" (click)="openModal()">Establecer</p>
    </div>

  </ion-card> -->

    <ion-card style="padding:1em;">
      <h4>{{ 'home.thismonth' | translate }}</h4>
      <div *ngIf="user_id">
      <span>{{ 'home.totaldistance' | translate }} </span>
        <p>{{ total_km | distanceMeasure:measure  }} {{measure}}  </p>
        <span>{{ 'home.totaltime' | translate }} </span>
        <p>{{total_time}}  {{ 'home.min' | translate }}</p>
      </div>
      <div *ngIf="!user_id">
        <p>{{ 'home.needloginstatics' | translate }}</p>
      </div>
    </ion-card>

    <img *ngIf="!premium" style="padding: 2em 0em;" (click)="goToPage('subscription')"  src="../../assets/radi premium.png" alt="">


    <h2>{{ 'home.lastrecords' | translate }}</h2>

    <div *ngIf="user_id">
      <div *ngIf="activities.length == 0" class="text-center">
        <ion-card style="padding: 1em;">
          <h4>{{ 'home.noactivities' | translate }}</h4>
          <p>{{ 'home.startactivities' | translate }}</p>
          <ion-button fill="clear" expand="block" (click)="goToPage('tabs/tab1')">{{ 'home.ctastartactivities' | translate }}</ion-button>
        </ion-card>
      </div>

      <ion-slides  [options]="slide"  *ngIf="activities.length != 0">

        <ion-slide *ngFor="let item of activities" style="text-align: left;">
          <ion-card style="padding:2em;" (click)="goToRun(item.id)">
            <h3 style="font-weight: bold;" class="capital">{{item.createdAt | localizedDate:'fullDate' }} </h3>
            <h5> {{item.distance | distanceMeasure:measure  }} {{measure}}  &#x2022; {{item.time}} {{ 'home.min' | translate }}</h5>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>

    <div  *ngIf="!user_id">
      <ion-card style="padding:2em;">
        <h4 style="font-weight: bold;">{{ 'home.login' | translate }}</h4>
        <h5>{{ 'home.needloginrecords' | translate }}</h5>
      </ion-card>
    </div>



    <!-- <h2>Challenges</h2>
    <ion-slides  [options]="slide" >
      <ion-slide  style="text-align: left;">
        <ion-card style="background-color:#f5f9fc;padding:2em;width: 100%;">
          <h2>Reto</h2>
          <h1 class="bold">5 km</h1>
          <ion-progress-bar value=".80"></ion-progress-bar>
        </ion-card>
      </ion-slide>
      <ion-slide  style="text-align: left;">
        <ion-card style="background-color:#f5f9fc;padding:2em;width: 100%;">
          <h2>Reto</h2>
          <h1  class="bold">10 km</h1>
          <ion-progress-bar value=".45"></ion-progress-bar>
        </ion-card>
      </ion-slide>
      <ion-slide  style="text-align: left;">
        <ion-card style="background-color:#f5f9fc;padding:2em;width: 100%;">
          <h2>Reto</h2>
          <h1  class="bold">15 km</h1>
          <ion-progress-bar value=".35"></ion-progress-bar>
        </ion-card>
      </ion-slide>
      <ion-slide  style="text-align: left;">
        <ion-card style="background-color:#f5f9fc;padding:2em;width: 100%;">
          <h2>Reto</h2>
          <h1  class="bold">20 km</h1>
          <ion-progress-bar value=".2"></ion-progress-bar>
        </ion-card>
      </ion-slide>
    </ion-slides> -->


    <ion-item-divider mode="md"> </ion-item-divider>


    <h1>{{ 'home.nearby' | translate }}</h1>

    <!-- <ion-row>
      <ion-col size="8">
        <h3>Mascotas Desaparecidas</h3>
      </ion-col>
      <ion-col size="4">
        <!-- <h5 style="text-align: right;">
          ver más
        </h5> --
      </ion-col>
    </ion-row>

    <div *ngIf="lostPets.length == 0" style="text-align: left;">
      <ion-card style="padding: 1em;">
        <h4>No hay mascotas desaparecidas</h4>
        <p>Afortunadamente, no hay mascotas desaparecidas cerca de tu ubicaciòn.</p>
      </ion-card>
    </div> -->

    <ion-slides  [options]="slidePets"  *ngIf="lostPets.length != 0" >
      <ion-slide  *ngFor="let item of lostPets" style="text-align: left;" (click)="goToPage('place')">
       <ion-card style="text-align: left;margin-left: 1.5em;border-radius: 1em;width: 100%;">
          <img  class="border-radius-img" [src]="item.photo" style="width:100%;object-fit: cover;min-height: 18em;max-height: 18em;height: 18em;">
          <div style="padding:1em;">
            <p style="font-weight: 800;" class="capitalize">{{item.name}} <br>
              <span style="font-weight: 300;">{{ item.distance | distanceMeasure:measure  }} {{measure}}  </span> </p>
          </div>
        </ion-card>
      </ion-slide>
    </ion-slides>

    <ion-row>
      <ion-col size="8">
        <h3>{{ 'home.petfriedly' | translate }}</h3>
      </ion-col>
      <ion-col  size="4">
        <!-- <h5 style="text-align: right;">
          ver más
        </h5> -->
      </ion-col>
    </ion-row>

    <div *ngIf="places.length == 0" style="text-align: left;">
      <ion-card style="padding: 1em;">
        <h4>{{ 'home.nopetfriendly' | translate }}</h4>
        <p>{{ 'home.messagerecommend' | translate }}</p>
        <ion-button fill="clear" expand="block" (click)="goToPage('/register-place')"  *ngIf="!user_id" >{{ 'home.ctalogin' | translate }} </ion-button>
        <ion-button fill="clear" expand="block" (click)="goToPage('/register-place')"  *ngIf="user_id">{{ 'home.ctarecommend' | translate }} </ion-button>
      </ion-card>
    </div>

    <ion-slides  [options]="slidePets" *ngIf="places.length != 0">
      <ion-slide  *ngFor="let place of places" style="text-align: left;" (click)="openModalPlace(place.id)">
       <ion-card style="text-align: left;margin-left: 1.5em;border-radius: 1em;width: 100%;">
          <img  class="border-radius-img" [src]="place.image" style="width:100%;object-fit: cover;min-height: 18em;max-height: 18em;height: 18em;">
          <div style="padding:1em;">
            <p style="font-weight: 800;" class="capitalize">{{place.title}}<br>
              <span style="font-weight: 300;"> {{ place.distance | distanceMeasure:measure  }} {{measure}} </span>
            </p>
          </div>
        </ion-card>
      </ion-slide>
    </ion-slides>

    <ion-item-divider mode="md"> </ion-item-divider>
    <h2>{{ 'home.suggestion' | translate }}  </h2>
  </div>

        <ion-card *ngFor="let blog of blogs" (click)="goToBlog(blog.slug)" >
          <img alt="blog image" [src]="blog.image" />
      <ion-card-header>
        <ion-card-subtitle>{{blog.date | localizedDate:'fullDate'}}&#8226; {{blog.timeread}} {{ 'home.min' | translate }} </ion-card-subtitle>
        <ion-card-title>{{blog.title}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>{{ blog.subtitle }}</p>
        <p style="text-align: right;">{{ 'home.readmore' | translate }} </p>
      </ion-card-content>
    </ion-card>



  <img *ngIf="!premium" (click)="goToPage('subscription')"  src="../../assets/radi premium.png" alt="">

</ion-content>
