
<ion-content [fullscreen]="true">
  <p style="text-align: center;">
    <img src="../../../assets/img/white-logo.png" alt="logo" style="margin-top:1.5em;width: 3.5em;height:3.5em;z-index: 10000;">
  </p>
  <div id="mapa-running" style="width: 100%; height: 105%;position: relative;margin-top: -12em;z-index: -1;">

  </div>

  <ion-slides [options]="slide" style="margin-top:-15em;padding-bottom:1em;position: absolute;z-index:1000;height: 240px;width: 100%;">

    <ion-slide >
      <ion-card  style="height: 200px;width: 100%;padding: 1em !important;text-align: left;"  >
        <p>LatLng: {{lat}} |  {{lng}} | {{coords.length}}</p>
        <ion-row style="text-align: center;">
          <ion-col>
            <span>Time:</span>
            <p>{{time}}</p>
          </ion-col>
          <ion-col>
            <span>Distance:</span>
            <p>{{ distance | number : '.2-2' }} km</p>
          </ion-col>
        </ion-row>

        <ion-button (click)="start()" *ngIf="!isStart" color="success">Start</ion-button>
        <ion-button (click)="delete()"  *ngIf="isStart" color="warning">Terminate</ion-button>
        <ion-button (click)="createCoords()">draw</ion-button>
        <ion-button (click)="getInfo()" *ngIf="isPets">
          <ion-icon name="paw-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="getInfo()" *ngIf="!isPets">
          <ion-icon name="restaurant-outline"></ion-icon>
        </ion-button>


        <div *ngFor="let item of coords">
          <p>{{item.x}},{{item.y}}</p>
        </div>
      </ion-card>

    </ion-slide>
    <ion-slide *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]">
      <ion-card  style="height: 200px;width: 100%;padding: 1em !important;text-align: left;" (click)="openModal()"  >
        <ion-row>
          <ion-col>
            <img src="../../../assets/img/white-logo.png" style="width: 6em;height:6em;" alt="">
          </ion-col>
          <ion-col>
            <p>Chaval 1</p>
            <p>Perdido desde ayer</p>
            <ion-button  fill="clear">Ver más</ion-button>
          </ion-col>
        </ion-row>
      </ion-card>

    </ion-slide>
  </ion-slides>

</ion-content>
