<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="mapa-running" style="height: 70%;width: 100%;">

  </div>
  <p>Lat: {{lat}}</p>
  <p>Lng: {{lng}}</p>
  <p>Time: {{time}}</p>
  <p>Distance: {{distance}}</p>

  <ion-button (click)="start()">Start</ion-button>
  <ion-button (click)="createCoords()">draw</ion-button>
  <ion-button (click)="delete()">Terminate</ion-button>
  <div *ngFor="let item of coords">
    <p>{{item.x}},{{item.y}}</p>
  </div>
</ion-content>
