<ion-content>
  <div style="margin:2em;">

    <ion-item lines="none" (click)="goToPage('/profile')" >
      <ion-icon slot="end" name="bookmark-outline"></ion-icon>
      <ion-label>Personal información</ion-label>
    </ion-item>
    <ion-item lines="none" (click)="goToPage('/payments')" >
      <ion-icon slot="end" name="bookmark-outline"></ion-icon>
      <ion-label>Tarjetas</ion-label>
    </ion-item>
    <ion-item lines="none" (click)="goToPage('/subscription')" >
  <ion-icon slot="end" name="bookmark-outline"></ion-icon>
  <ion-label>Lenguaje</ion-label>
</ion-item>
<ion-item lines="none" (click)="goToPage('/cards')" >
  <ion-icon slot="end" name="bookmark-outline"></ion-icon>
  <ion-label>Gift Card</ion-label>
</ion-item>


<ion-item lines="none" (click)="goToPage('/cards')" >
  <ion-icon slot="end" name="bookmark-outline"></ion-icon>
  <ion-label>Notficationes</ion-label>
</ion-item>

<ion-item lines="none" (click)="goToPage('/cards')" >
  <ion-icon slot="end" name="bookmark-outline"></ion-icon>
  <ion-label>Cambiar contraseña</ion-label>
</ion-item>

<ion-item lines="none" (click)="goToPage('/cards')" >
  <ion-icon slot="end" name="bookmark-outline"></ion-icon>
  <ion-label>Centro de ayuda</ion-label>
</ion-item>

<ion-item lines="none" (click)="goToPage('/cards')" >
  <ion-icon slot="end" name="bookmark-outline"></ion-icon>
  <ion-label>Terminos de servicio</ion-label>
</ion-item>

<ion-item lines="none" (click)="goToPage('/cards')" >
  <ion-icon slot="end" name="bookmark-outline"></ion-icon>
  <ion-label>Acerca de Radi </ion-label>
</ion-item>

</div>
</ion-content>
