<ion-header>
  <ion-toolbar>
    <ion-title>Editar imagen</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="exit()" color="danger">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <image-cropper
    style="width: 100%;"
      [imageBase64]="imageSend"
      alignImage="center"
      [resizeToWidth] = "1920"
      [resizeToHeight] = "1080"
      [maintainAspectRatio]="true"
      [aspectRatio]="4 / 3"
      format="png"
      (imageCropped)="imageCropped($event)"
      outputType="base64">
    </image-cropper>
</ion-content>
<ion-footer>
  <ion-button fill="clear" color="success" expand="block" (click)="crop()">
    Recortar
  </ion-button>
</ion-footer>
