<ion-content>
  <ion-fab style="margin-top: 2em;"  vertical="top" horizontal="start"  slot="fixed" (click)="beforePage()">
    <ion-fab-button mode="ios" size="small" translucent  color="motel"  style="  outline: none !important;">
      <ion-icon name="arrow-back-outline" style="color:#f8d100;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="text-center" *ngIf="mascotas.length != 0">
    <h1 style="padding:1em;margin-top:4em;">{{ 'pets.mypets' | translate }}</h1>

    <ion-card (click)="goToPets(mascota.id)" *ngFor="let mascota of mascotas">
      <ion-row>
      <ion-col>
          <img [src]="mascota.photo" alt="pet image">
      </ion-col>
      <ion-col style="text-align:left !important;">
        <h2 class="capital">{{mascota.name}}</h2>
        <p class="bold" *ngIf="mascota.size === 'mn'">{{ 'pets.mini' | translate }}</p>
        <p class="bold" *ngIf="mascota.size === 'sm'">{{ 'pets.small' | translate }}</p>
        <p class="bold" *ngIf="mascota.size === 'md'">{{ 'pets.medium' | translate }}</p>
        <p class="bold" *ngIf="mascota.size === 'lg'">{{ 'pets.big' | translate }}</p>
        <p class="bold" *ngIf="mascota.size === 'xl'">{{ 'pets.extra-big' | translate }}</p>
        <p>{{ 'pets.seemore' | translate }}</p>
      </ion-col>
    </ion-row>
  </ion-card>
</div>

<div class="text-center p-1" style="margin-top: 4em;"  *ngIf="mascotas.length == 0">
  <h2>{{ 'pets.nopets' | translate }}</h2>
  <ion-button fill="clear" (click)="addPet()">{{ 'pets.addpets' | translate }}</ion-button>
</div>

<ion-fab (click)="addPet()" slot="fixed" color="success" vertical="bottom" horizontal="end" >
  <ion-fab-button>
    <ion-icon   name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
