
<ion-content>

  <ion-fab  vertical="top" horizontal="start"  slot="fixed" (click)="back()">
    <ion-fab-button mode="ios" size="small" translucent    color="motel"  style="  outline: none !important;    ">
      <ion-icon name="arrow-back-outline" style="color:#f8d100;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <img alt="image" style="width: 100%;" [src]="blog.image" />
  <div style="padding: 1.5em;">
    <h1>{{blog.title}}</h1>
    <p style="color:rgb(81, 74, 74);">Actualizado {{blog.date | date:'longDate'}}</p>
    <div>
      <img style="width: 3em;height: 3em;vertical-align:middle;border-radius: 50%;" src="https://avatars.dicebear.com/api/initials/{{blog.author}}.svg" alt="A grey image showing text 60 x 60">
      <span style="font-weight: bold;" > &nbsp;{{blog.author}}</span>
    </div>
    <p style="color:rgb(76, 74, 74);text-align: center;">{{blog.timeread}} min lectura</p>

    <ion-item-divider mode="md"> </ion-item-divider>

    <div *ngFor="let content of contents;let i = index">
      <div  style="font-size: 1.4em;color:gray;font-weight: 400;" [innerHtml]="content.text"></div>
      <div *ngIf="i == 2">
        <div (click)="adClick()">
          <img src="https://i.ibb.co/yYPFjmq/ads-Radi-1.png" alt="anuncion">
        </div>

      </div>
      <div *ngIf="i == 4">
        <div (click)="adClick()">
          <img src="https://i.ibb.co/S6YdkpJ/ads-Radi.png" alt="anuncion">
        </div>
      </div>
    </div>


  </div>
</ion-content>
