<ion-content>
  <div style="background-color: #a9411d;color:white;padding:1em;font-size: 1.5em;">
    <p>Paso 1</p>
    <p>
      Lo primero que haremos será preparar todos los ingredientes para hacer esta receta de verduras para perros.
    </p>
    <p>Paso 2</p>
    <p>
      Ahora agarramos las zanahorias y el calabacín y los cortaremos en cuadritos del tamaño de la uña del dedo chico, las podemos rallar también. Cuando las tengamos listas las apartaremos en un plato hasta más tarde que las necesitemos. Haremos lo mismo con el pollo pero en cuadritos más grandes.
    </p>
    <p>Paso 3</p>
    <p>
      A continuación cogemos una olla grande y echaremos 3 tazas de agua. Echaremos el arzos y dejaremos cocer arroz durante 10 – 20 minutos dependiendo del tipo de arroz que uses. Cuando haya cocido su tiempo necesario lo sacaremos y dejaremos apartado para más adelante.
    </p>
    <p>Paso 4</p>
    <p>
      Lo siguiente que haremos será en otra olla echar el aceite de oliva. Agregaremos el pavo troceado y lo dejaremos hacer hasta que todas sus partes hayan cogido color. Recuerda no cocinar de más la carne. Freiremos la carne de pavo durante 3 o 5 minutos.
    </p>
    <p>Paso 5</p>
    <p>
      Cuando se haya hecho el pollo por todas partes echaremos las verduras. Las zanahorias, el calabacín, las espinacas y el arroz integral que teníamos apartados. Dejaremos calentar durante unos 3 – 5 minutos.
    </p>
    <p>Paso 6</p>
    <p>
      Cuando ya esté todo bien hecho lo sacaremos y dejaremos reposar hasta que se enfríe. Recuerda que los perros comen su comida siempre a temperatura ambiente, no le des comida caliente. Cuando se enfríe ¡Listo! Ya tenemos lista esta receta de verduras para perros.
    </p>
  </div>

</ion-content>

<ion-footer style="background-color: #a9411d !important;">
  <ion-row>
    <ion-col size="10">
      <ion-button expand="full" color="dark" (click)="close()">Cerrar</ion-button>
    </ion-col>
    <ion-col size="2">
          <ion-button color="dark">
            <ion-icon name="share-outline"></ion-icon>
          </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
